<font size = 12>Pandas Quiz</font>

Name:

In [21]:
import pandas as pd
bike_path_use = pd.read_csv('bikes.csv', names=['date','path','bicycles'])

In the next cell, write down what type of Python object `bike_path_use` is after the cell
above has been executed.

In [22]:
type(bike_path_use)

pandas.core.frame.DataFrame

In the next cell, write an expression selecting the `path` column of  `bike_path_use`.  You must use the column name `bike_path_use` in your answer.

In [34]:
bike_path_use['path']
# Variant
#bike_path_use[['path']]

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
280    0
281    0
282    0
283    0
284    0
285    0
286    0
287    0
288    0
289    0
290    0
291    0
292    0
293    0
294    0
295    0
296    0
297    0
298    0
299    0
300    0
301    0
302    0
303    0
304    0
305    0
306    0
307    0
308    0
309    0
Name: path, Length: 310, dtype: int64

In the next cell write an expression that retrieves the fourth through the sixth row of the `date` column of `bike_path_use` (keeping in mind that the second row is indexed 1).

In [59]:
bike_path_use['date'][3:6]
#bike_path_use.date[3:6]
#bike_path_use.loc[3:5,'date']
#bike_path_use.iloc[3:5,0]

#Errors
#bike_path_use[3:6,'date']

3    04/01/2012;144
4    05/01/2012;197
5    06/01/2012;146
Name: date, dtype: object

Write an expression that returns a subtable of `bike_path_use` that contains just the `date` and the `bicycles` columns.  Your answer must use the column names `date` and `bicycles`.

In [53]:
bike_path_use[['date','bicycles']]
#bike_path_use.loc[:,['date','bicycles']]
#bike_path_use.iloc[:,[0,2]]

#Errors
#bike_path_use[['date'],['bicycles']]
#bike_path_use[:,['date','bicycles']]

                date  bicycles
0      01/01/2012;35      1000
1      02/01/2012;83      1000
2     03/01/2012;135      1000
3     04/01/2012;144      1000
4     05/01/2012;197      1000
5     06/01/2012;146      1000
6      07/01/2012;98      1000
7      08/01/2012;95      1000
8     09/01/2012;244      1000
9     10/01/2012;397      1000
10    11/01/2012;273      1000
11    12/01/2012;157      1000
12     13/01/2012;75      1000
13     14/01/2012;32      1000
14     15/01/2012;54      1000
15    16/01/2012;168      1000
16    17/01/2012;155      1000
17    18/01/2012;139      1000
18    19/01/2012;191      1000
19    20/01/2012;161      1000
20     21/01/2012;53      1000
21     22/01/2012;71      1000
22    23/01/2012;210      1000
23    24/01/2012;299      1000
24    25/01/2012;334      1000
25    26/01/2012;306      1000
26     27/01/2012;91      1000
27     28/01/2012;80      1000
28     29/01/2012;87      1000
29    30/01/2012;219      1000
..               ...       ...
280  07/10/2012;1580      1000
281  08/10/2012;1854      1000
282  09/10/2012;4787      1000
283  10/10/2012;3115      1000
284  11/10/2012;3746      1000
285  12/10/2012;3169      1000
286  13/10/2012;1783      1000
287   14/10/2012;587      1000
288  15/10/2012;3292      1000
289  16/10/2012;3739      1000
290  17/10/2012;4098      1000
291  18/10/2012;4671      1000
292  19/10/2012;1313      1000
293  20/10/2012;2011      1000
294  21/10/2012;1277      1000
295  22/10/2012;3650      1000
296  23/10/2012;4177      1000
297  24/10/2012;3744      1000
298  25/10/2012;3735      1000
299  26/10/2012;4290      1000
300  27/10/2012;1857      1000
301  28/10/2012;1310      1000
302  29/10/2012;2919      1000
303  30/10/2012;2887      1000
304  31/10/2012;2634      1000
305  01/11/2012;2405      1000
306  02/11/2012;1582      1000
307   03/11/2012;844      1000
308   04/11/2012;966      1000
309  05/11/2012;2247      1000

[310 rows x 2 columns]

Write an expression that just returns the first 18 rows of the subtable from the last question.

In [58]:
bike_path_use[['date','bicycles']][:18]
# Works because index is numerical
#bike_path_use.loc[0:18, ['date','bicycles']]
#Valid Completely numerical index answer
#bike_path_use.iloc[0:18, [0,2]]


#Errors/Wrong info
#bike_path_use.iloc[0:18, ['date','bicycles']]
#bike_path_use[0:18, ['date','bicycles']]
#Not an error but gets wrong cols ['path',bicycles'], requested cols are non adjacent
#bike_path_use.iloc[0:18, 1:3]
#bike_path_use[['date','bicycles']][:18,:]

TypeError: unhashable type: 'slice'